:root { /*pseudo class
    targets the top-most parent element
    all elements throughout the HTML will have access to the variables*/
--primary-color: #1a3c3d;
--secondary-color: #2ea39d;
--tertiary-color: #39a6b2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main {
    padding: 50px 150px 0 100px;
    background-color: gainsboro;
    color: var(--primary-color);
}

header {
    padding: 20px 35px 20px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--primary-color);
}

header h1 {
    font-size: 40px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    text-align: right;
    width: 350px;
    padding: 5px 6px;
    
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    font-size: 25px;
    list-style: none;
    letter-spacing: 1px;
    text-decoration: underline;
    text-underline-offset: 0.4em;
    padding: 15px;
    
}

header a { 
    text-decoration: none; 
    color: var(--secondary-color); 
   }

header nav ul li a {
    padding: 10px;
}

/*                                  HERO*/

.hero {
    background-image: url(./assets/img/bluep.jpg);
    background-position: left;
    display: flex;
    justify-content: end;
    background-attachment: fixed;
    background-position: 80%;
}

.hero div {
    padding: 150px 40px 20px 0;
}

.hero p {
    color: var(--primary-color);
    background: var(--secondary-color);
    font-size: 30px;
    font-weight: bold;
    padding: 8px 5px;
    
}

.main-content {
    display: flex;
    flex-direction: column;
}

/*                  ABOUT ME*/

.about-me {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    
}

.about-me-left {
    border-right: 4px solid;
    width: 300px;
    text-align: right;

}

.about-me-left, .about-me-right {
    padding: 60px;
}

.about-me-right {
    width: 100%;
}


/*                  WORK*/


.work {
    display: flex;
    margin: 20px;
    align-items: center;
}



.work-left {
    padding: 60px;
    border-right: 4px solid;
    width: 300px
    
}

.work-right {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
}

/*                  IMAGES FOR WORK SECTION*/

.card {
    padding: 195px 0px 0px 0px;
    margin: 10px;
    display: inline-block;
  }

.card:first-child {
    width: 100%;
}

.card:not(:first-child) {
    flex: 1;
}



.card img {
    width: 100%;
    max-width: 200px;
}

.card:hover {
    opacity: 0.8;
}

.work-left, .work-right {
    padding: 60px;
}

/*                  CONTACT ME*/
.contact-me {
    display: flex;
    margin: 20px;
    align-items: center;
}

.contact-me-left {
    border-right: 4px solid;
    width: 300px;
}

.contact-me-left, .contact-me-right {
    padding: 60px;
}

.contact-me-right {
width: 100%;
}

/*                  RESUME*/

.resume {
    display: flex;
    margin: 20px;
    align-items: center;
}

.resume-left {
    border-right: 4px solid;
    width: 300px;
}

.resume-left, .resume-right {
    padding: 60px;
}

.resume-right {
   width: 100%;
}

.titles {
    font-weight: bold;
    color: var(--primary-color);
    border-color: var(--primary-color);
    font-size: 35px;
    text-align: right;
}

/*                                      IMAGES FOR CARDS*/

.recipe-app {
    background-image: url(./assets/img/projects/recipe-pr.png);
    min-width: 300px;
    min-height: 300px;
    border: 4px var(--secondary-color) solid;
    background-size: cover;

}

.run-buddy {
    background-image: url(./assets/img/projects/running-pr.jpg);
    background-size:cover;
    min-width: 300px;
    min-height: 300px;
    border: 4px var(--secondary-color) solid;
    background-size: cover;

}

.countdown-timer {
    background-image: url(./assets/img/projects/timer-pr.jpg);
    background-size:cover;
    min-width: 300px;
    min-height: 300px;
    border: 4px var(--secondary-color) solid;
    background-size: cover;

}

.chess-game {
    background-image: url(./assets/img/projects/chess-pr.jpg);
    background-size:cover;
    min-width: 300px;
    min-height: 300px;
    border: 4px var(--secondary-color) solid;
    background-size: cover;

}

.number-generator {
    background-image: url(./assets/img/projects/number-pr.png);
    background-size:cover;
    min-width: 300px;
    min-height: 300px;
    border: 4px var(--secondary-color) solid;
    background-size: cover;
}

/*                                  TEXT STYLING FOR CARDS*/

.work-right p {
    color: var(--primary-color);
    text-align:start;
    background-color: var(--secondary-color);
    font-size: 25px;
    font-weight: bold;
    padding: 8px 8px;
    width: fit-content;
    list-style: none;
    
}

.work-right a {
    text-decoration: none;
    color: var(--primary-color);
}

.work-right a:hover {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
    



.work-right span {
    font-weight: normal;
    font-size: 20px;
}

/* header {
    padding: 20px 35px 20px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--primary-color);
}*/

.contact-me-right {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    color: var(--primary-color);
    font-size: 20px;
    font-weight: normal;
    flex-wrap: wrap;
}

.contact-me-right div {
    margin: 20px;
}

/*FOOTER*/



footer {
    background-color: rgb(21, 40, 44);
    width: 100%;
    height: 50px;
    color: beige;
}